footer {
	display: flex;
	align-content: center;
	justify-content: space-between;
}

.btn {
	&--go-back {
		text-decoration: none;

		font-weight: 500;
		color: $blue;
	}

	&--primary {
		background: $blue;
		color: $color-white;
		border-radius: 6px;
		padding: $spacing $spacing-xl;
		border: none;
		font-weight: 500;
	}
}
