.btn {
	&--go-back {
		text-decoration: none;
		border: none;
		font-weight: 700;
		color: $grey-text;
		background: none;
	}

	&--primary {
		background: #03295a;
		color: $color-white;
		border-radius: 6px;
		padding: $spacing $spacing-xl;
		border: none;
		font-weight: 500;
	}
}
