.btn {
	padding: $spacing $spacing-xl;

	&--primary {
		background: #03295a;
		color: $color-white;
		border-radius: 6px;
		border: none;
		font-weight: 500;
	}
}

.btn--back {
	text-decoration: none;
	border: none;
	font-weight: 700;
	color: $grey-text;
	padding: $spacing $spacing-xl;
	background: none;
}
