.info {
	flex: 1;
	padding: $spacing-xl $spacing-xl $spacing-xl 75px;
	background: $color-white;
	color: $grey-text;

	h1 {
		font-size: 32pxpx;
		font-weight: 700;
	}

	p {
		color: $grey-text;
		margin-bottom: $spacing-xl;
	}

	label {
		color: $dark-blue;
		font-weight: 300;
	}

	input {
		width: 100%;
		margin-bottom: $spacing;
	}
}
