$marine-blue: hsl(213, 96%, 18%);
$purplish-blue: hsl(243, 100%, 62%);
$pastel-blue: hsl(228, 100%, 84%);
$Light-blue: hsl(206, 94%, 87%);
$red: hsl(354, 84%, 57%);

$blue: #4a3eff;
$dark-blue: #002963;
$text-white: #f6faff;
$pastel-text: #abafff;
$grey-text: #a6a7aa;
$Cool-gray: hsl(231, 11%, 63%);

$card-hover: #f8f9fe;

$Light-gray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$color-white: hsl(0, 0%, 100%);
