body {
	background: #ecf5ff;
}

form {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}

.input-wrapper {
	label {
		display: flex;
		flex-direction: column;
		margin-bottom: $spacing;

		input {
			padding: 8px;
			border-radius: 8px;
			transition: 250ms ease all;
			margin-top: 4px;
			border: 2px solid #e1e1e3;

			&:hover {
				outline: none;
				border-color: #8780b8;
			}

			&:focus {
				outline: none;
			}
		}
	}
}
