body {
	background: #ecf5ff;
}

.input-wrapper__required {
	opacity: 0;
}

label:has(input::invalid) {
	.input-wrapper__required {
		opacity: 1;
	}
}

input:invalid {
	&:after {
		position: absolute;
		width: 50px;
		height: 50px;
		color: red;
		background: yellow;
		content: 'ddddd';
	}
}

input {
	padding: $spacing-s $spacing;
	border: 1px solid $grey-text;
	border-radius: 8px;
	transition: 250ms ease all;
	margin-top: 4px;
	color: #9c9ca6;
	border: 2px solid #e1e1e3;
	position: relative;

	&:after {
		position: absolute;
	}

	&:hover {
		outline: none;
	}

	&:focus:invalid {
		border-color: $alert;
	}

	&:focus {
		border-color: $pastel-text;
		outline: none;
	}
}

.input-wrapper {
	position: relative;

	&__required {
		color: $alert;
		position: absolute;
		right: 0;
		font-weight: 600;
		scale: 0.9;
	}

	label {
		display: flex;
		flex-direction: column;
	}
}

@include mobile {
}
