body {
	background: #ecf5ff;
}

input {
	padding: $spacing-s $spacing;
	border: 1px solid $grey-text;
	border-radius: 8px;
	transition: 250ms ease all;
	margin-top: 4px;
	color: #9c9ca6;
	border: 2px solid #e1e1e3;

	&:hover {
		outline: none;
	}

	&:focus {
		border-color: $pastel-text;
		outline: none;
	}
}

.input-wrapper {
	position: relative;

	&__required {
		color: red;
		position: absolute;
		right: 0;
		font-weight: 600;
		scale: 0.9;
	}

	label {
		display: flex;
		flex-direction: column;
	}
}

@include mobile {
}
