.container {
    width: 768px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    padding: $spacing;
    background: #fff;
    color: $text-white;
    border-radius: 6px;

    &__inner {
        display: flex;
        padding: $spacing;
    }

    .intro {
        background-color: $purplish-blue;
        width: 30%;
        padding: $spacing-xl;
        border-radius: 6px;

        &__step {
            margin-bottom: $spacing-xl;
        }

        h3 {
            color: $pastel-text;
        }
        h2 {
            color: $text-white;
        }
        &__inner {

        }

    }

    .info {
        flex: 1;
        padding: $spacing-xl * 2;
        background: $color-white;
        color: $grey-text;

        h1 {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: $spacing;
        }

        p {
            color: $grey-text;
            margin-bottom: 40px;
        }

        label {
            color: $dark-blue;
        }

        input {
            border-radius: 8px;
            border: 1px solid $dark-blue;
            padding: 8px;
        }
        }
}   