.container {
	width: 768px;
	margin: 40px auto;
}

.wrapper {
	display: flex;
	padding: $spacing;
	background: #fff;
	color: $text-white;
	border-radius: 6px;

	&__inner {
		display: flex;
		flex: 1;
	}

	.intro {
		display: flex;
		flex: 1;
		background-color: $purplish-blue;
		padding: $spacing-l;
		border-radius: 6px;

		&__step {
			margin-bottom: $spacing-xl;
			position: relative;
			padding-left: 40px;

			&.active {
				&:before {
					background-color: #bee1fd;
					border-color: transparent;
					color: $blue;
				}
			}

			&:before {
				width: 25px;
				height: 25px;
				border-radius: 50%;
				background: transparent;
				border: 1px solid $color-white;
				color: $text-white;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: 700;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}

			&:nth-child(1) {
				&:before {
					content: '1';
				}
			}

			&:nth-child(2) {
				&:before {
					content: '2';
				}
			}

			&:nth-child(3) {
				&:before {
					content: '3';
				}
			}

			&:nth-child(4) {
				&:before {
					content: '4';
				}
			}
		}

		h4 {
			color: $pastel-text;
			padding-bottom: 4px;
			text-transform: uppercase;
		}

		h3 {
			color: $text-white;
			text-transform: uppercase;
			font-weight: 500;
		}
		&__inner {
		}
	}

	.info {
		flex: 1;
		padding: $spacing-xl $spacing-xl $spacing-xl $spacing-xl * 2;
		background: $color-white;
		color: $grey-text;

		h1 {
			font-size: 26px;
			font-weight: 700;
			margin-bottom: $spacing;
		}

		p {
			color: $grey-text;
			margin-bottom: 40px;
		}

		label {
			color: $dark-blue;
		}
	}
}
